body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 
header {
    background-color: #003366;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #007bff;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
/* styling current */
nav a#currentpage {
    background-color: rgb(1, 11, 16);
    
}  
section {
    margin: 0px;
}

#logo{
    position: absolute;
    top: 0;
    left: 0;
    
    
}
#sw{
    position: absolute;
    top: 0;
    right: 0;
}
footer{
    background-color: #003366;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    width: 100%;
    
}
h1{
    text-align: center;
}
table{
    margin: auto;
    padding: 15px;
}