table,th,td{
    background-color: beige ;
    border:solid black 1px;
    border-collapse: collapse;
    padding: 40px;
}
table{
    margin-left:300px;

}

body{
    background-color: rgb(163, 233, 233);
    text-align: center;
}
body{
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(223, 230, 240);
    color: black;
    padding: 10px;
    text-align: center;
}
nav{
    background-color: rgb(163, 233, 233);
    text-align: center;
}
nav a {
    color: rgb(79, 69, 69);
    text-decoration: none;
    margin: 0 60px;
}
section{
    margin: 0px;
}
#logo{
    position: absolute;
    top: 0;
    left: 0;
}
#sw{
    position: absolute;
    top: 0;
    right: 0;
}
footer{
    background-color: aquamarine;
    color: antiquewhite;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}
nav a#currentpage{
    background-color: rgb(159, 71, 71);
}
h1{
    background-color:rgb(201, 174, 138) ;
    text-align: center;
    margin: 0;
    padding: 0;
}